body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}


/* Header */

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo img {
    width: 150px;
}

header .nav-links ul {
    display: flex;
}

header .nav-links ul:last-child {
    margin-right: 20px;
}

header .nav-links ul li {
    margin-left: 35px;
}

header .nav-links ul li:hover,
.active {
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}

header .nav-links a {
    color: #fff;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 800px) {
    header .nav-links {
        display: none;
    }
}


/* About Us */

section.introduction {
    margin-top: 60px;
}

section.introduction .intro-flex img {
    float: left;
    width: 500px;
    height: 500px;
}

section.introduction .intro-flex .intro-detail {
    margin: 20px;
    padding-top: 8px;
    margin-bottom: 43px;
}

@media (max-width: 1000px) {
    p {
        font-size: small;
    }
    section.introduction .intro-flex img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 500px) {
    section.introduction .intro-flex img {
        width: 100%;
    }
}


/* Find a Hospital */

section.hospital-find {
    padding: 20px;
    margin-top: -35px;
    font-size: 14px;
}

section.hospital-find h2 {
    text-align: center;
}

section.hospital-find .hosp-content {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

section.hospital-find .hosp-content img {
    width: 500px;
}

.hosp-left {
    margin-top: auto;
    margin-bottom: auto;
}

.hosp-search input[type=text] {
    padding: 14px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.hosp-search form {
    text-align: right;
    margin-right: 20px;
}

.hosp-search form button {
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 7px;
    margin-left: -10px;
}

.hosp-search .search-location {
    margin-top: 25px;
}

.hosp-search .hospitals {
    margin: 10px;
    border: 1px solid #969696;
    padding: 20px;
    border-radius: 20px;
}

.hosp-search .hospitals p {
    margin: 0px;
}

@media (max-width: 1000px) {
    section.hospital-find {
        padding-left: 0px;
        padding-right: 0px;
    }
    section.hospital-find .hosp-content {
        display: block;
    }
    section.hospital-find .hosp-content img {
        display: block;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .hosp-search input[type=text] {
        width: 50%;
        font-size: 13px;
    }
}


/* Virtual Consultation */

section.virtual-consultation h2 {
    text-align: center;
    margin-bottom: 0px;
}

section.virtual-consultation .consult-content {
    display: flex;
    justify-content: space-between;
}

section.virtual-consultation .consult-content img {
    width: 500px;
}

@media (max-width: 900px) {
    section.virtual-consultation .consult-content {
        display: block;
    }
    section.virtual-consultation .consult-content img {
        width: 100%;
    }
}