body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}


/* Header */

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

header .logo img {
    width: 150px;
}

header .nav-links ul {
    display: flex;
}

header .nav-links ul:last-child {
    margin-right: 20px;
}

header .nav-links ul li {
    margin-left: 35px;
}

header .nav-links ul li:hover,
.active {
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}

header .nav-links a {
    color: #fff;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

header .hnav-links ul:last-child {
    margin-bottom: 20px;
}

header .hnav-links ul li {
    margin-bottom: 25px;
}

header .hnav-links ul li:hover,
.hactive {
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}

header .hnav-links a {
    color: #fff;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

.ham-img img {
    height: 45px;
}

.hmenu,
.navicon,
.toggle {
    display: none;
}

.mobile-mode {
    display: none;
}

@media (max-width: 800px) {
    header .nav-links {
        display: none;
    }
    #myDIV {
        display: none;
    }
    .toggle {
        display: block;
    }
    #ico {
        display: inline;
        width: 25px;
        height: 10px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
        float: right;
    }
    .navicon {
        background: transparent;
        padding-bottom: 20px;
        padding-right: 6px;
        position: relative;
        display: block;
        z-index: 99;
        transition: linear 0.5s all;
    }
    .navicon:before,
    .navicon:after {
        background: #b5cad1;
        backface-visibility: hidden;
        content: "";
        height: 3px;
        left: 0;
        transition: 0.8s ease;
        width: 30px;
        border-radius: 20%;
    }
    .navicon:before {
        box-shadow: #b5cad1 0 10px 0 0;
        position: absolute;
        top: 0;
    }
    .navicon:after {
        position: absolute;
        top: 20px;
    }
    .navicon--active {
        margin-top: 20px;
        transition: linear 0.5s all;
    }
    .navicon--active:before {
        box-shadow: transparent 0 0 0 0;
        top: 15px;
        transform: rotate(225deg);
    }
    .navicon--active:after {
        top: 15px;
        transform: rotate(315deg);
    }
    .toggle {
        display: block;
        position: absolute;
        background-color: rgba(25, 25, 25, .95);
        width: 80%;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: ease-in 0.5s all;
        transform: translate(-50%, -200%);
        min-height: 360px;
        z-index: 99999999999999;
        padding-top: 7px;
    }
    .toggle--active {
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        opacity: 1;
        transition: ease-in 0.5s all;
        transform: translate(-50%, 50%);
    }
    #hamDIV {
        width: 100%;
        display: block;
        padding: 0;
        border-left-color: rgba(0, 0, 0, 0.25);
        margin-left: -23px;
    }
    #hamDIV li a:hover {
        color: #a09f9f;
        transition: linear 0.5s all;
        transform: scale(1.15);
        font-weight: 700;
    }
    .desktop-mode {
        display: none;
    }
    .mobile-mode {
        display: block;
    }
}


/* About Us */

section.introduction {
    margin-top: 60px;
}

section.introduction .intro-flex img {
    float: left;
    width: 500px;
    height: 500px;
}

section.introduction .intro-flex .intro-detail {
    margin: 20px;
    padding-top: 8px;
    margin-bottom: 43px;
}

.disappear {
    text-align: center;
}

@media (max-width: 1000px) {
    p {
        font-size: small;
    }
    section.introduction .intro-flex img {
        width: 50%;
        height: auto;
    }
    .disappear {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    section.introduction .intro-flex img {
        width: 100%;
    }
    #map {
        width: 100%;
    }
    .disappear {
        display: none;
    }
}


/* Intro Slides */

.intro-slides {
    margin-bottom: 10px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}


/* Caption text */

.text {
    color: #ffff;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.7;
    width: 100%;
}

.text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    padding: 12% 50px 0 50px;
}

.text p {
    font-size: 16px;
}

.text button {
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 14px;
    font-size: 16px;
    background-color: #fff;
}

@media (max-width: 960px) {
    .text h1 {
        font-size: 30px;
        padding: 9% 50px 0 50px;
    }
    .text p {
        font-size: 14px;
        padding: 0 10px;
    }
    .text button {
        padding: 12px;
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    .text h1 {
        font-size: 25px;
        padding: 6% 50px 0 50px;
    }
    .text p {
        font-size: 13px;
    }
    .text button {
        padding: 12px;
        font-size: 13px;
    }
}

@media (max-width: 586px) {
    .text h1 {
        font-size: 22px;
        padding: 3% 50px 0 50px;
    }
    .text p {
        font-size: 13px;
    }
    .text button {
        padding: 12px;
        font-size: 13px;
    }
}

@media (max-width: 520px) {
    .text h1 {
        font-size: 18px;
        padding: 3% 50px 0 50px;
    }
    .text p {
        font-size: 13px;
    }
    .text button {
        padding: 12px;
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .text h1 {
        font-size: 12px;
        padding: 0 50px 0 50px;
        margin-bottom: -8px;
    }
    .text p {
        font-size: 10px;
        margin-bottom: 3px;
    }
    .text button {
        padding: 8px;
        font-size: 10px;
    }
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* Find a Hospital */

section.hospital-find {
    padding: 20px;
    margin-top: -35px;
    font-size: 14px;
}

section.hospital-find h2 {
    text-align: center;
}

section.hospital-find .hosp-content {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

section.hospital-find .hosp-content img {
    width: 50%;
}

.hosp-content input[type=text] {
    padding: 14px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.hosp-content form {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.hosp-content form button {
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 7px;
    margin-left: -10px;
}

#map {
    overflow: visible;
}

#map iframe {
    width: 200%;
    margin-left: -300px;
    height: 300px;
}

.map-box div {
    display: flex;
    margin-bottom: 20px;
}

.map-box div button {
    width: 40px;
    height: 40px;
    margin-top: 13px;
    padding: 5px;
}

.map-box div button i {
    font-size: 23px;
}

@media (max-width: 1000px) {
    #map {
        max-width: 90vw;
    }
    section.hospital-find {
        padding-left: 0px;
        padding-right: 0px;
    }
    section.hospital-find .hosp-content {
        display: block;
    }
    section.hospital-find .hosp-content img {
        display: block;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .hosp-search input[type=text] {
        width: 50%;
        font-size: 13px;
    }
    #map iframe {
        width: 100%;
        margin-left: 0px;
        height: 500px;
    }
    .map-box div {
        display: flex;
        margin-bottom: 20px;
    }
    .map-box div button {
        margin-top: 13px;
    }
}


/* Virtual Consultation */

section.virtual-consultation h2 {
    text-align: center;
}

section.virtual-consultation .consult-content {
    display: flex;
    justify-content: space-between;
}

section.virtual-consultation .consult-content img {
    width: 500px;
}

.consult-content .consult-info {
    margin: 20px;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #e4e4e4;
    height: 60%;
    box-shadow: 100px #000;
    padding-bottom: 40px;
}

.consult-content .consult-info h4 {
    margin-top: 0px;
}

.consult-content .consult-info a {
    font-size: small;
    color: #ffff;
    border: 0.1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
}

.consult-content .consult-info a:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width: 1050px) {
    section.virtual-consultation .consult-content {
        display: block;
    }
    section.virtual-consultation .consult-content img {
        width: 100%;
    }
    .consult-content .consult-info {
        margin-top: -20px;
    }
}


/* Pharmacy */

section.virtual-pharmacy h2 {
    text-align: center;
    margin-bottom: 0px;
}

section.virtual-pharmacy .pharm-left {
    margin: 20px;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #e4e4e4;
    height: 60%;
    box-shadow: 100px #000;
    padding-bottom: 40px;
    padding-top: 0px;
}

section.virtual-pharmacy .pharm-left a {
    font-size: small;
    color: #ffff;
    border: 0.1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
}

section.virtual-pharmacy .pharm-left a:hover {
    background-color: #fff;
    color: #000;
}

section.virtual-pharmacy .pharm-content {
    display: flex;
    /*  justify-content: space-between; */
}

section.virtual-pharmacy .pharm-right img {
    width: 500px;
}

section.virtual-pharmacy .pharm-links {
    margin-bottom: 25px;
    display: block;
}

#myBtn,
#myBtn1 {
    font-size: small;
    color: #ffff;
    border: 0.1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content,
.modal-content1 {
    background-color: #000;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    section.virtual-pharmacy .pharm-content {
        display: block;
    }
    section.virtual-pharmacy .pharm-content img {
        width: 100%;
    }
    section.virtual-pharmacy .pharm-left {
        margin-top: -20px;
    }
}


/* Footer */

footer {
    background-color: black;
    padding: 1px;
}

footer p {
    color: #ffff;
    text-align: center;
}

footer .foot img {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -18px;
}